LABEL genix
TEXT HELP
Boot the Genix live on BIOS.
It allows you to install Genix or perform system maintenance.
ENDTEXT
MENU LABEL Genix live (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL genixspeech
TEXT HELP
Boot the Genix live on BIOS with speakup screen reader.
It allows you to install Genix or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Genix live (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
